# SPDX-License-Identifier: LGPL-2.1-or-later
# SPDX-FileCopyrightText: 2025 Balló György
[D-BUS Service]
Name=org.freedesktop.MalcontentControl
Exec=/usr/bin/malcontent-control --gapplication-service
